
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
/* You can add global styles to this file, and also import other style files */
:root {
    --main-color: #159895;
    --second-color: #19376D;
}

.min-vh-inherit {
    min-height: inherit;
}

/* a {
    color: inherit !important;
} */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
